html {
    font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;    
    background: whitesmoke;
}
body {
    width: 50%;
    background: white;
    margin: auto;
    padding: 0;
}
h1 {
    background: white;
    width: 50%;
    position: fixed;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px grey solid;
    padding: 0;
    margin: 0;
    text-align: center;
}
#frame {
    padding: 3%;
    padding-top: 70px;
}